/*!****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./css/card.css ***!
  \****************************************************************/
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2vh;
  width: 40vw;
  margin: 2vh;
  padding: 2vh;
  background-color: #659666;
  color: rgb(0, 0, 0);
  transition-duration: 0.5s;
}

.card:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.card .string {
  display: flex;
  justify-content: left;
}

.card .logo {
  height: 8vh;
  padding-right: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .logo img[src="../img/logo-mastercard.png"] {
  height: 80%;
}

.card .logo img[src="../img/logo-visa.png"] {
  height: 33%;
}

.card .column {
  width: 90%;
  align-content: space-between;
  cursor: pointer;
}

.card .number {
  line-height: 8vh;
  font-size: 3vh;
  font-weight: bold;
}

.card .comment {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 0.5vh;
  font-size: 2vh;
}

.card .delete {
  width: 8%;
  padding-right: 2%;
}

.card .remove {
  cursor: pointer;
}

.card .remove:hover path {
  fill: rgb(235, 34, 34);
}

.card .remove path {
  fill: #4b4743;
}

.deleteCard {
  transform: scale(0);
  transition: 1s;
}

.deletedCard {
  display: none;
}

@media (max-width: 930px) {
  .card {
    width: 60vw;
  }
}

@media (max-width: 630px) {
  .card {
    width: 90vw;
  }
}

@media (max-width: 430px) {
  .card {
    width: 90vw;
  }

  .card .number {
    line-height: 8vh;
    font-size: 2vh;
    font-weight: bold;
  }

  .card .comment {
    padding-top: 0vh;
    padding-bottom: 0.5vh;
    font-size: 2vh;
  }

  .card .string {
    flex-direction: column;
  }

  .card .logo {
    padding-right: 0vh;
  }

  .card .delete {
    width: 10%;
  }
}

/*!****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./css/form.css ***!
  \****************************************************************/
#newCard {
  position: absolute;
  top: 0vh;
  left: 0vw;
  color: white;
  width: 100%;
}

#newCard .glass {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffb3;
}

#newCard form {
  padding: 3vh 3vh;
  background-color: #4b4743;
  border-radius: 2vh;
  width: 80vh;
}

#newCard .dataCard {
  display: flex;
  justify-content: left;
  width: 100%;
}

#newCard table {
  width: 80%;
}

#newCard .logoForm {
  text-align: center;
  width: 20%;
  display: flex;
  align-items: center;
}

#newCard .logoForm #logoNewCard {
  width: 70%;
}

#newCard table tr {
  display: flex;
  flex-direction: column;
}

#newCard table tr label {
  font-size: 2.5vh;
  padding-bottom: 1vh;
}

#newCard table tr span {
  height: 3vh;
  color: red;
  font-size: 2vh;
}

#newCard form .number,
#newCard form .comment {
  background-color: rgb(255, 229, 197);
  border: 0.25vh solid rgb(255, 229, 197);
  border-radius: 0.8vh;
  font-size: 3vh;
  padding: 0.5vh 0.5vh;
  width: 100%;
}

#newCard form .number:focus-visible,
#newCard form .comment:focus-visible {
  outline: none;
  border: 0.25vh solid rgb(92, 212, 68);
}

#newCard form input[type="button"] {
  display: block;
  margin: 0 auto;
  border: 0.25vh solid #665f5f;
  background-color: transparent;
  color: grey;
  padding: 0.5vh 3vh;
  border-radius: 1.2vh;
  font-size: 2.5vh;
  cursor: pointer;
  width: 40%;
}

#newCard form #saveButton {
  margin-bottom: 1.5vh;
}

#newCard form #saveButton:hover {
  border: 0.25vh solid #36e73f;
  color: #36e73f;
}

#newCard form #cancelButton:hover {
  border: 0.25vh solid #e73636;
  color: #e73636;
}

#newCard form .titleForm {
  text-align: center;
  font-size: 4vh;
  padding-bottom: 2vh;
}

@media (max-width: 460px) {
  #newCard form {
    width: 100%;
  }

  #newCard .dataCard {
    flex-direction: column;
  }

  #newCard table {
    width: 100%;
  }

  #newCard .logoForm {
    height: 5vh;
    padding-bottom: 2vh;
  }

  #newCard .logoForm img[src="../img/logo-mastercard.png"] {
    height: 200%;
  }

  #newCard .logoForm img[src="../img/logo-visa.png"] {
    height: 100%;
  }

  #newCard .logoForm #logoNewCard {
    width: auto;
  }

  #newCard form input[type="button"] {
    width: 100%;
  }
}

/*!****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./css/main.css ***!
  \****************************************************************/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  color: rgb(0, 0, 0);
  background-color: #fdffd9;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header {
  color: rgb(255, 255, 255);
  background-color: #4b4743;
  text-align: center;
  position: relative;
  height: 10vh;
}

.nameApp {
  font-size: 4vh;
  line-height: 10vh;
}

#addCard {
  position: absolute;
  right: 3vh;
  height: 4vh;
  top: 3vh;
  padding: 0vh 2vh;
  color: rgb(255, 255, 255);
  background-color: #4b4743;
  border: 0.25vh solid white;
  border-radius: 1vh;
  font-size: 2vh;
  cursor: pointer;
}

#addCard:hover {
  color: rgb(53, 211, 79); /* Цвет ссылки */
  border: 0.25vh solid rgb(53, 211, 79);
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 700px) {
  .header {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #addCard {
    position: static;
    margin-bottom: 3vh;
  }
}


/*# sourceMappingURL=bundle.css.map*/